footer.footer
    .container
        .footer__row
            .footer__text
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam commodi aliquam minima dolorem ratione quisquam? Velit reiciendis numquam rerum sed at facere, perferendis, tempore facilis dolores non atque voluptates quae.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam commodi aliquam minima dolorem ratione quisquam? Velit reiciendis numquam rerum sed at facere, perferendis, tempore facilis dolores non atque voluptates quae.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam commodi aliquam minima dolorem ratione quisquam? Velit reiciendis numquam rerum sed at facere, perferendis, tempore facilis dolores non atque voluptates quae.
        .footer__row
            .logo
                a(href="#").logo__link Logo
            .socials
                ul.socials__list
                    each val, item in ["instagram", "telegram", "facebook", "twitter"]
                            li.socials__item
                                a(href="https://www." + val + ".com/" class="socials__link icon-" + val target="_blanc")
        .footer__row
            .footer__copyright 2020 All rights reserved.
            .nav
                ul.nav__list
                    li.nav__item
                        a(href="#").nav__link Terms of service
                    li.nav__item
                        a(href="#").nav__link Refund policy
                    li.nav__item
                        a(href="#").nav__link Privacy policy
                    li.nav__item
                        a(href="#").nav__link Sitemap


