.footer {
    background-color: #111113;
    padding: 5rem 0;
    color: #5f5f5d;
    font-size: 1.4rem;
    line-height: normal;

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        align-items: center;

        &:last-child {
            margin-bottom: 0;

            @include --sm {
                flex-direction: column;
            }
        }
    }

    &__text {
        font-size: 1.2rem;
        & p {
            margin-bottom: 1.4rem;
        }
    }

    & .logo__link {
        color: $w;
    }

    &__copyright {
        color: #98989d;

        @include --sm {
            order: 1;
        }
    }
}

.nav {
    @include --sm {
        width: 100%;
        margin-bottom: 2rem;
    }
    &__list {
        display: flex;
        align-items: center;

        @include --sm {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item {
        margin-right: 3.5rem;
        &:last-child {
            margin-right: 0;
        }

        @include --sm {
            margin-right: 1rem;
        }

        @include --xs {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }

    &__link {
        display: inline-block;
        color: #98989d;
        transition: 0.3s;
        &:hover {
            color: $yellow;
        }
    }
}

.socials {
    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-block;
        font-size: 2rem;
        color: #888888;
        transition: 0.3s;
        border-bottom: 0.2rem solid transparent;
        padding: 1.5rem 1rem;

        &:hover {
            color: $yellow;
            border-color: $yellow;
        }
    }
}
