.slider {
    position: relative;
    background-color: $b;

    &__list {
        height: 60rem;
        position: relative;

        @include --lg {
            height: 50rem;
        }

        @include --md {
            height: 40rem;
        }

        @include --xs {
            height: 30rem;
        }
    }

    &__item {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
        display: flex;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s;

        &.active {
            z-index: 2;
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        font-size: 6rem;
        line-height: normal;
        color: $w;
        margin-bottom: em(42/60);

        @include --lg {
            font-size: 5rem;
        }

        @include --md {
            font-size: 4.5rem;
        }

        @include --sm {
            font-size: 3.5rem;

            & br {
                display: none;
            }
        }

        @include --xs {
            font-size: 2.8rem;
        }
    }
}

.dots {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    bottom: 4rem;
    z-index: 10;
    width: 96rem;
    transform: translateX(-50%);

    @include --md {
        width: 100%;
        padding-left: 3rem;
    }

    @include --xs {
        bottom: 3rem;
    }

    &__btn {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        background-color: $w;
        margin-right: 1.8rem;
        transition: 0.3s;
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $yellow_light;
        }

        &.active {
            background-color: $yellow;
        }
    }
}

.partners {
    background-color: $yellow;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.02rem 0;

        @include --sm {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        @include --md {
            padding-right: 5rem;
            &:last-child {
                padding-right: 0;
            }
            & > img {
                max-width: 100%;
            }
        }

        @include --sm {
            padding: 1rem;
        }
    }
}

.services {
    overflow: hidden;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3rem;
        padding-top: 2.7rem;

        @include --md {
            padding-top: 0;
        }
    }

    &__item {
        width: 25%;
        padding-right: 3rem;
        padding-top: 2.5rem;
        border-top: 0.1rem solid #525c69;
        position: relative;

        &:before {
            content: "";
            height: 0.3rem;
            width: 4rem;
            position: absolute;
            left: 0;
            top: -0.1rem;
            background-color: $yellow_light;
        }

        @include --md {
            width: 50%;
            margin-top: 4rem;
        }

        @include --xs {
            width: 100%;
        }
    }

    &__count {
        font-size: 3.5rem;
        line-height: normal;
        color: $yellow_light;

        @include --sm {
            font-size: 2.8rem;
        }
    }

    &__desc {
        font-size: 2.2rem;
        line-height: normal;
        font-weight: 900;
        color: $w;
        margin-bottom: em(28/22);
    }

    &__card {
        background-image: url("../images/service-bg.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0.4rem;
        padding: 4rem 3rem;
        cursor: pointer;

        &:hover .services__icon {
            color: $w;
        }
    }

    &__icon {
        color: $yellow_light;
        line-height: 1;
        font-size: 6.8rem;
        transition: 0.6s;
        & > span {
            line-height: 1;
            display: inline-block;
        }
    }

    &__title {
        font-size: 2.2rem;
        line-height: normal;
        color: $w;
        font-weight: 900;
        margin: em(15/22) 0;

        @include --md {
            font-size: 2rem;
        }

        @include --sm {
            font-size: 1.9rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: normal;
        color: $w;
    }
}

.news {
    position: relative;

    & .news__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &:nth-child(1) {
            left: 0;
            right: 50%;
        }
        &:nth-child(2) {
            left: 50%;
            right: 0;
        }

        @include --sm {
            &:nth-child(1) {
                left: 0;
                right: 0;
                bottom: 50%;
            }
            &:nth-child(2) {
                left: 0;
                right: 0;
                top: 50%;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        position: relative;

        @include --sm {
            flex-direction: column;
        }
    }

    &__col {
        width: 100%;
        flex-grow: 1;
        padding: 12rem 0;

        &:last-child {
            & > * {
                margin-left: 4rem;
            }
        }

        @include --lg {
            padding: 10rem 0;
        }

        @include --md {
            padding: 8rem 0;
        }

        @include --sm {
            &:last-child {
                & > * {
                    margin-left: 0;
                }
            }
        }
    }

    &__link {
        font-size: 1.8rem;
        line-height: normal;
        color: $yellow;
        border-bottom: 0.2rem solid currentColor;
        transition: 0.3s;
        margin-top: em(24/18);
        display: inline-block;
        &:after {
            content: "\e806";
            font-family: "Fontello";
            display: inline-block;
            vertical-align: middle;
            font-size: 1.2rem;
            margin-left: 0.6rem;
        }

        &:hover {
            color: $yellow_light;
        }

        @include --md {
            font-size: 1.6rem;
        }
    }
}

.value {
    padding: 4rem 0;

    &__title {
        color: #98989d;
        font-size: 1.6rem;
        font-weight: bold;
        &--required {
            &:after {
                content: "*";
                display: inline-block;
                vertical-align: top;
                color: red;
                margin-left: 0.3rem;
            }
        }
    }

    &__row {
        display: flex;

        @include --sm {
            flex-direction: column;
        }
    }

    &__col {
        flex-grow: 1;

        &:first-child {
            width: calc(100% - (100% / 3));
            padding-right: 3rem;
        }

        &:last-child {
            width: calc(100% / 3);
            & .value__box {
                text-align: right;
            }
        }

        @include --sm {
            &:first-child {
                width: 100%;
                padding-right: 0;
            }

            &:last-child {
                width: 100%;
                & .value__box {
                    text-align: left;
                }
            }
        }
    }

    &__box {
        padding-top: 3rem;
        flex-grow: 1;
        width: 100%;
        display: block;
        margin-right: 3rem;
        &:last-child {
            margin-right: 0;
        }
    }

    &__count {
        font-size: 3.5rem;
        line-height: normal;
        color: #323a45;
        font-weight: bold;
        margin-bottom: em(10/35);
    }

    &__text {
        font-size: 1.6rem;
        line-height: normal;
        color: #525c69;
        margin-top: em(25/16);
        position: relative;
        padding-left: 1rem;

        &:before {
            content: "*";
            display: inline-block;
            vertical-align: top;
            color: red;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__button {
        margin-top: em(30/18);
    }

    &__slider {
        position: relative;
    }
}

.range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: #ececec;
    outline: none;
    transition: opacity 0.3s;
    display: block;
    margin: 0;
    border-radius: 0.3rem;

    &__fill {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        background-color: $yellow;
        border-radius: 0.3rem;
    }
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $yellow;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.range::-moz-range-thumb {
    position: relative;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $yellow;
    cursor: pointer;
}

.step {
    padding: 4rem 0;
    background-color: $yellow;

    &__list {
        display: flex;
        padding-top: 1.7rem;

        @include --sm {
            flex-direction: column;
        }
    }

    &__item {
        display: block;
        width: 100%;
        flex-grow: 1;
        margin-right: 3rem;
        &:last-child {
            margin-right: 0;
        }

        @include --sm {
            margin-right: 0;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-size: 4rem;
        line-height: normal;
        font-weight: bold;
        position: relative;

        &:before {
            content: "";
            width: 0.7rem;
            height: 0.7rem;
            border: 0.1rem solid transparent;
            border-bottom-color: $b;
            border-right-color: $b;
            position: absolute;
            bottom: -0.3rem;
            right: 0.1rem;
            transform: rotate(-45deg);
        }

        &:after {
            content: "";
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 0.1rem;
            width: 100%;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        }
    }

    &__subtitle {
        font-size: 2.2rem;
        line-height: normal;
        font-weight: bold;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: normal;
        margin-top: em(10/16);
    }
}

.form {
    padding-top: 3rem;

    &__row {
        display: flex;
        margin-bottom: 2rem;

        @include --sm {
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        display: block;
        flex-grow: 1;
        width: 100%;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }

        @include --sm {
            margin-right: 0;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__block {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input-wrap {
        position: relative;
        & .form__input {
            padding-right: 6rem;
        }
    }

    & .select-wrap {
        position: relative;
        &:after {
            content: "\e800";
            font-family: "Fontello";
            position: absolute;
            right: 6rem;
            top: 50%;
            transform: translateY(-50%);
            color: $b;
        }
    }

    & .tooltip {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 4.6rem;
        border-left: 1px solid #ececec;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & > span {
            position: absolute;
            left: calc(100% + 1rem);
            top: 50%;
            transform: translateY(-50%);
            background-color: #f9eeb8;
            border: 0.1rem solid #dfcb98;
            padding: 1rem;
            font-size: 1.4rem;
            line-height: normal;
            color: #525c69;
            min-width: 30rem;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            &:before {
                content: "";
                width: 1.6rem;
                height: 1.6rem;
                background-color: inherit;
                border: 0.1rem solid transparent;
                border-top-color: #dfcb98;
                border-left-color: #dfcb98;
                position: absolute;
                top: 50%;
                left: -0.8rem;
                transform: translateY(-50%) rotate(-45deg);
            }

            @include --xxl {
                left: auto;
                right: calc(100% + 1rem);
                &:before {
                    left: auto;
                    right: -0.8rem;
                    transform: translateY(-50%) rotate(135deg);
                }
            }

            @include --xs {
                min-width: 18rem;
            }
        }

        &.active > span {
            opacity: 1;
            visibility: visible;
        }

        &:after {
            content: "\e809";
            font-family: "Fontello";
            line-height: 1;
            color: #007ff2;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        color: #888888;
        background-color: #f9f9f9;
        border-radius: 0;
        box-shadow: none;
        padding: 1em em(15/16);
        border: none;
        font-size: 1.6rem;
        line-height: normal;
        font-family: inherit;

        &[type="date"] {
            max-height: 5rem;
        }
    }

    &__textarea {
        resize: none;
        min-height: 12.08rem;
    }

    &__file {
        width: 100%;
        border: 0.2rem dashed #ececec;
        padding: 1.4rem;
        font-size: 1.5rem;
        line-height: normal;
        color: #888888;
        font-weight: bold;
        display: block;
        text-align: center;
        cursor: pointer;

        &:before {
            content: "\e80a";
            font-family: "Fontello";
            line-height: 1;
            display: inline-block;
            margin-right: 1rem;
        }

        @include --md {
            padding: 1.1rem;
        }
    }
}
