.wrapper {
    width: 100%;
}

// .section.js-scrolled {
//     & .section__title {
//         -webkit-animation-name: contentText;
//         animation-name: contentText;
//     }

//     & .services__item {
//         -webkit-animation-name: contentText;
//         animation-name: contentText;
//     }
//     & .section__description,
//     & .form,
//     & .contacts__list {
//         -webkit-animation-name: contentText;
//         animation-name: contentText;
//         animation-delay: 100ms;
//     }

//     & .section__image {
//         -webkit-animation-name: contentImg;
//         animation-name: contentImg;
//     }
// }

.container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;

    @include --md {
        max-width: 100%;
        padding: 0 3rem;
    }
}

.section {
    &--services {
        background-color: #27282d;
        padding: 4rem 0 5rem 0;
    }

    &--contacts {
        padding: 4rem 0 5rem 0;
    }

    &__title {
        font-size: 3rem;
        line-height: normal;

        &--light {
            color: $w;
        }

        &--dark {
            color: $b;
        }

        &--deep {
            color: #888888;
        }

        @include --md {
            font-size: 2.6rem;
        }

        @include --sm {
            font-size: 2.2rem;
            & br {
                display: none;
            }
        }
    }

    &__description {
        font-size: 1.8rem;
        line-height: normal;
        color: $b;
        margin-top: em(10/18);

        @include --sm {
            font-size: 1.6rem;
        }
    }
}
